<div *ngIf="episodeList?.length==0">
<p>Episode List for this season is not available.</p></div>
<button (click)=goback()>Back</button>
 <!--binding click event function -to go back to previous page-->

<div  *ngFor="let episode of episodeList">
 <div class="container">
   <section class="row">
      <div class="col-lg-5">
      <img height="250" width="400" [src]='episode.image' class="img-thumbnail">
     </div>
      <section class="col-lg-7">
      <span id="episode"><b>Episode {{episode.episode}}: {{episode.name}}</b></span>
      <span id="epicontent" [innerHtml]="episode.description | truncateText: 500"></span></section>
      <!--TruncateText is a pipe added which will trim our description with 500 letters-->
    </section>
  </div>
</div>


