.s{
  color:white;
}
.container::-webkit-scrollbar {
  display: none;
}

#episode{
  font-size: 20px;
  color: white;
  text-align: left;
  font-family:Microsoft sans-serif;


}

#epicontent{
  font-size: 20px ;
  color:grey;
  text-align: left;
  font-family:Microsoft sans-serif;

}
