/* .s{
  color:white;
} */
/* .container::-webkit-scrollbar {
  display: none;
} */

#episode{
  font-size: 20px;
  color: white;
  text-align: left;
  font-family:Microsoft sans-serif;


}

#epicontent{
  font-size: 20px ;
  color:grey;
  text-align: left;
  font-family:Microsoft sans-serif;

}

.col-lg-5{
  margin-bottom: 30px;
}

p{
  font-size: 20px;
  color:grey;
  text-align: left;
  font-family:Microsoft sans-serif;
  /* margin-top: -40px; */
  margin-top: 20px;
  margin-left: 20px;

}
@media (max-width: 1200px) {
  .col-lg-7{
    text-align:center;
  }
 section img{

   display: block;
   margin-left: auto;
   margin-right: auto;
   /* width: 350px; */
 }

}
.row{
  margin-top: 25px;
}

button {
  background-color:#282828;
  color:white;
  margin-left: 200px;
  border-color: transparent;
  border-radius: 8px;  
}
