.show-list-section {
  display: flex;
  overflow-x: auto;
  margin-top: 10px;
}

::-webkit-scrollbar {

  width: 12px;
  height: 12px;


}

#myIcon:hover{
  box-shadow: 0 2px 2px 2px #cccccc;
}
 img{
   width:300px;
   height:175px;
   margin-right:10px;
 }
 

