.show-list-section {
  display: flex;
  overflow-x: auto;
}
.show-list-section img {
  margin-right:15px;
}
/* .show-list-section::-webkit-scrollbar {
  display: none;
} */
 #myIcon:hover{
   box-shadow: 0 2px 5px 2px #cccccc;
 }
.content {
  margin: auto;
  padding: 2px;
  width: 95%;
}


