.title{
  color: #DB202C;
  font-size: 30px;
  font-family: sans-serif;
}
.name{
  text-orientation: initial;
  font-weight:bold;
  font-size: 100px;
  font-family: Candara;
  font-variant-caps:petite-caps ;
  color: white;
}
.p{
  font-size: 20px;
  color: white;
}
.content{
  float: right;
  width: 700px;
}
#desc{

  font-size: 30px ;
  color: #AAA7A7;
  text-align: left;
  font-family:Microsoft sans-serif;
  margin: 5px;

}
.details{
  color: #B1AEAE;
  font-size: 20px ;

}
.box {
  width: 120px;
  height: 30px;
  border: 1px solid #999;
  font-size: 18px;
  color: #1c87c9;
  background-color: #eee;
  border-radius: 5px;

}
  .container {
    display: flex;
    overflow-x: auto;
  }
  .container img {
      width: 300px;
      margin-right: 30px;
      }
  .container::-webkit-scrollbar {
       display: none;
  }
  body {
    display: flex;
    align-items: center;
    height: 100vh;
  }
  #episode{
    font-size: 20px ;
    color: white;
    text-align: left;
    font-family:Microsoft sans-serif;
    margin: 5px;
  }

  #epicontent{
    font-size: 15px ;
    color:grey;
    text-align: left;
    font-family:Microsoft sans-serif;
    margin: 15px;

  }

