  /* .nav-bar{
    margin-bottom: 20px;
  } */
  .name{
    text-orientation: initial;
    font-weight:bold;
    font-size: 100px;
    font-family: Candara;
    font-variant-caps:petite-caps ;
    color: white;
  }
  .p{
    margin-left:5px;
    font-size: 20px;
    color: white;
  }
  /* .content{
    float: right;
    width: 700px;
  } */
  #desc{
    font-size: 30px ;
    color: #AAA7A7;
    text-align: left;
    font-family:Microsoft sans-serif;
    margin: 5px;
  }
  .details{
    color: #B1AEAE;
    font-size: 20px ;

  }
  .box {
    /* width: 120px; */
    width: 138px;
    height: 30px;
    border: white 1px solid;
    font-size: 18px;
    color:white;
    background-color: black;
    border-radius: 5px;
    margin-left:-45px;

  }

    /* .container {
      display: flex;
      overflow-x: auto;
    } */
    /* .container img {
      margin-right: 30px;
      } */
    .container::-webkit-scrollbar {
         display: none;
    }

    body {
      display: flex;
      align-items: center;
      height: 100vh;
    }
    #episode{
      font-size: 20px;
      color: white;
      text-align: left;
      font-family:Microsoft sans-serif;


    }

    #epicontent{
      font-size: 20px ;
      color:grey;
      text-align: left;
      font-family:Microsoft sans-serif;

    }
    /* .episode-content {
      width: 300px;
    } */

    