  
<div >
  <div class =title >N FILM </div>
  <div class =name >{{ show.name }} </div>
  <div class= p >
     <span> {{  show.year.substr(0,4) }}</span>
      <span> {{ show.language }}</span>
     
  </div>


  <div class= content>
      <img [src]="show.image" height="400" />
  </div>
  <div id="desc">
    <br/>
      <span  [innerHtml]=" show.description " >

      </span>
 </div>

  <div class=details>
      <br/>
      <span>Starring : {{show.cast.slice(0,3)}}</span>
      <br/>
      <span>Genres : {{ show.genres}} </span>
      <br/>
      <span>Rating : {{show.rating }}</span>

  </div>
  <br/>
  <div>
   <select class="box" >
      <option  *ngFor="let season of show.seasons;index as i" >  Season {{ i+1 }}</option>
   </select>
  </div>
    <br/>
    <div class="container">
        <div  *ngFor="let episode of episodeList">
          <img [src]='episode.image' />
          <br/>
          <span id="episode"><b>Episode {{episode.episode}}: {{episode.name}}</b></span>
          <span id="epicontent" [innerHtml]="episode.description"></span>
        </div>
    </div>
</div>
