<div style="margin: 15px"  *ngIf="show">
  <div class = "name">{{ show.name }}</div>
  <div class= p>
     <span> {{  show.year.substr(0,4) }}</span>
     <label>&nbsp; &nbsp; &nbsp;
      <span> {{ show.language }}</span>
    </label>
 <span>
      <!-- event binding of (change) event to event handler -->
         <select class="box" (change)="selectChangeHandler($event)">
        <!--binding value property of option element to the season id-->
           <option >Select Season</option>
           <option *ngFor="let season of show.seasons;index as i" [value] ='season'>Season {{ i+1 }}</option>
         </select>
      </span>
  </div>
<br/>
  <div fxLayout="row" fxFlexAlign="space-around space-around">
    <div fxFlex></div>
    <div id="desc" fxFlex="60%">
      <div fxFlex="90%">
        <span  [innerHtml]="show.description"></span>
      </div>
    </div>

    <div class= "content" fxFlex="40%">
      <img [src]="show.image"  class="img-thumbnail" style="width: 300px"/>
    </div>
  </div>
  <div class=details>
      <span>Starring : {{show.cast.slice(0,3)}}</span>
      <br/>
      <span>Genres : {{ show.genres}} </span>
      <br/>
      <span>Rating : {{show.rating }}</span>
  </div>
  <br/>
    <br/>
  </div>
    


