<div style="margin: 15px">
  <div class =name >{{ show.name }} </div>
  <div class= p >
     <span> {{  show.year.substr(0,4) }}</span>
     <label>&nbsp; &nbsp; &nbsp;
      <span> {{ show.language }}</span>
    </label>


 <span>
      <!-- event binding of (change) event to event handler -->
         <select class="box" (change)="selectChangeHandler($event)">
        <!--binding value property of option element to the season id-->
           <option >Select Season</option>
           <option *ngFor="let season of show.seasons;index as i" [value]='season'>Season {{ i+1 }}</option>
         </select>

      </span>
  </div>
<br/>
  <div fxLayout="row" fxFlexAlign="space-around space-around">
    <div fxFlex></div>
    <div id="desc" fxFlex="60%">
      <div fxFlex="90%">
        <span  [innerHtml]=" show.description " ></span>
      </div>
    </div>

    <div class= content fxFlex="40%">
      <img [src]="show.image"  class="img-thumbnail" style="width: 300px"/>
    </div>
  </div>


  <div class=details>

      <span>Starring : {{show.cast.slice(0,3)}}</span>
      <br/>
      <span>Genres : {{ show.genres}} </span>
      <br/>
      <span>Rating : {{show.rating }}</span>

  </div>
  <br/>

    <br/>

    <!--Some shows have seasons but no episode list. The following line displays the episdoe deatils only if episodeList is available,else says "Episode List not available" 
          <div *ngIf="episodeList?.length ==0 && selectedSeasonID" >
            <p class="check">Episode List for this season is not available.</p>
          </div>

      <div  *ngFor="let episode of episodeList">
      <div class="container">
      <section class="row">
        <div class="col-lg-5">
        <img height="250" width="400" [src]='episode.image' class="img-thumbnail">
        </div>
          <section class="col-lg-7">
          <span id="episode"><b>Episode {{episode.episode}}: {{episode.name}}</b></span>
          <span id="epicontent" [innerHtml]="episode.description | truncateText: 500"></span></section>
          <!--TruncateText is a pipe added which will trim our description with 500 letters
      </section>
        </div>
        </div> -->
      </div>




