<div>
  <div>
    <br>
    <div class="section-title">Trending Now</div>
    <app-tv-show-list [showList]="trendingList"></app-tv-show-list>
  </div>
  <br><br>
  <div>
    <div class="section-title">Action</div>
    <app-tv-show-list [showList]="actionList"></app-tv-show-list>
  </div>
<br><br>
  <div>
    <div class="section-title">Crime</div>
    <app-tv-show-list [showList]="crimeList"></app-tv-show-list>
  </div>
  <br><br>
  <div>
    <div class="section-title">Thriller</div>
    <app-tv-show-list [showList]="thrillerList"></app-tv-show-list>
  </div>
</div>




