<div>
  <div>
    <br>
    <div class="section-title">Trending Now</div>
    <app-tv-show-list [showList]="trendingList"></app-tv-show-list>
  </div>
  <br><br>
  <div>
    <div class="section-title">Action</div>
    <app-tv-show-list [showList]="actionList"></app-tv-show-list>
  </div>
<br><br>
  <div>
    <div class="section-title">Crime</div>
    <app-tv-show-list [showList]="crimeList"></app-tv-show-list>
  </div>
  <br><br>
  <div>
    <div class="section-title">Thriller</div>
    <app-tv-show-list [showList]="thrillerList"></app-tv-show-list>
  </div>
</div>

<!--
Display all show thumbnails

<div class= "container-fluid">
  //Bootstrap installed to use container classes for alignment and UI design

  <section class="row">
    <div  id= "home-content" *ngFor="let show of showList" class="col-md-2 col-sm-4 col-xs-6">
      <a routerLink="/details/{{show.id}}">
        //Routing added will take show with its id to navigate to the show details page i.e tvshow component.
      <div id="myIcon">
     <img [src]= 'show.image'>
     </div>
    </a>
    </div>
  </section>
</div>
-->


