/* Old code
.show-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: 35px;
  margin-top: 60px;
}
.show-image {
  flex: 20%;
  margin-bottom: 20px;
}*/

.section-title {
  color: white;
  font-size: 30px ;
  text-align: left;
  font-family:Microsoft sans-serif;
  margin: 5px;
}
